.Gif {
    border-radius: 6px;
    display: flex;
    color: #fff;
    margin-bottom: .5em;
    position: relative;
}

.Gif:hover {
  transition: all 0.3s ease;
  background-color: #20242f;
  border-radius: 20px;
}

.Gif-buttons {
    position: absolute;
    top: 8px;
    right: 8px;
}

.Gif-link {
    text-decoration: none;
    color: white;
}

.Gif-link:hover {
    transition: all 0.3s ease;
    color: rgb(9, 81, 237);
}

.Gif h4 {
    margin-top: 5px;
    margin-bottom: 20px;
}

.Gif img {
    border-radius: 10px;
}